

/* Pretty Stuff
================================== */

/* Zero down margin and paddin on all elements */
* {
  margin: 0;
  padding: 0;
}

body {
  font: 62.5%/1.6 "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
   background-color:#D4D4D4;
}

h1 {
  font-size: 2.4em;
  font-weight: normal;
}

h2 {
  font-size: 2.0em;
  font-weight: normal;
}

p, li {
  font-size: 1.4em;
}

h1, h2, p {
  margin: 1em 0;
}

.branding h1 {
  margin: 0;
}

.wrapper {
  background-color: #fff;
}

.header {
  height: 50px;
 /* background-color:#b0b0b0; */
  background-image:url(/site_media/images/mining.jpg);
  padding: 20px;
}

.nav {
  list-style: none;
  background-color:#eee;
	padding: 20px;
}

.content .secondary  {
	//padding-left: 20px;
}

.footer {
  background-color:#b0b0b0;
background-image:url(/site_media/images/django-powered.jpg);
 background-repeat: no-repeat;
  padding: 1px 20px;
  height: 40px;
  border: red 2px solid;
}

a {
text-decoration: none;
}


div .content .secondary ul.nav li a {
display: block;
margin: 5px 0;   /* separer verticalement */
width: 150px;
border-width: 1px 2px 2px 1px;
border-color: #cecece #4a4a4a #4a4a4a #cecece;
border-style: solid;  /* sans cette ligne aucune bordure n'apparaÃ®t */
background-color: #8A2BE2  /* ou #fc0 */
text-decoration: none;
color:green;
text-align: center;
}

 ul.nav li a:hover,
 ul.nav li a:focus {
	color: #E4FFD3;
	background-color: #6DA203;
}

div .content .primary .secondary ul li a {}




/* The Core Technique
================================= */

body {
  text-align: center; 
}

.wrapper {
  width: 76.8%; 
  margin: 0 auto; 
  text-align: left;
	max-width: 125em;
	min-width: 62em;
}

.content {
	overflow: hidden;
}

.content .primary { 
  width: 72.82%;
  float: right;
}

.content .secondary { 
  width: 25%;
  float: left; 
} 


.content .primary .primary {
	width: 59.7%;
	float: left;
        
}

.content .primary .secondary {
	width: 34.33%;
	padding-right: 2.63%;
	float: right;
}


.promo {
       color:lightblue;
       margin-left: 30px ;

}

