		<!-- Start of Categories Box -->
		<div id="categories">
			<div id="categories_header">
			<h2>Categories</h2>
			</div>

			<ul>
			<li><a href="/wsite/courses_presentation/">Présentation</a></li>
			<li><a href="/wsite/courses_lessons/">Enseignements</a></li>
			<li><a href="/wsite/courses_organizations/">Organisation</a></li>
			<li><a href="/wsite/courses_admissions/">Admissions</a></li>
			<li class="last"><a href="/wsite/courses_contacts/">Contacts</a></li>
			</ul>

			<div class="clearthis">&nbsp;</div>
		</div>
		<!-- End of Categories Box -->