
<p><a href="http://www.amazon.fr/Mod%C3%A9lisation-manipulation-documents-Fran%C3%A7ois-Role/dp/2746209810"><img src="/site_media/images/book.jpg"/></a></p>

<p>In 2005 I published <a href="http://www.amazon.fr/Mod%C3%A9lisation-manipulation-documents-Fran%C3%A7ois-Role/dp/2746209810"><b>this book</b></a>,
which had no large diffusion beyond academic circles (partly due to
the very high price set by the publisher !) but, I think, can provide
the reader with a quite original and detailed treatment of logical
markup languages and the key notions that underlie them.</p>

