{% include 'header.html' %}
<!-- dans   website/templates/includes/header.html -->

<div class="content">


<!-- ***************************************************************** -->
<!-- ***************************** PRIMARY *************************** -->
<!-- ***************************************************************** -->

<div class="primary">

<div class="primary">

{% if mainColumnSections %}

{% for section in mainColumnSections %}
 
<h1>{{ section.titleFR }}</h1>

{{section.textFR|safe}}

<p> {{section.lastUpdate}} </p>

{% endfor%}

{% else %}

<h1> EDITO EN COURS DE REDACTION</h1>

{% endif%}
</div>

<div class="secondary">  <!-- start of content/primary/secondary = preferred sites -->
{% include 'site-links.html' %}
</div>

</div>  <!-- end of content/primary -->


<!-- ***************************************************************** -->
<!-- ************************   SECONDARY **************************** -->
<!-- ***************************************************************** -->

<div class="secondary">     <!-- start of content/secondary -->
{% include 'toc-links.html' %}

<div class="promo">   <!-- est juste a la suite, pas juxtapose -->
{% include 'promo.html' %}
</div>

</div>  <!-- end of content/secondary -->


</div>   <!-- end of content -->

{% include 'footer.html' %}
