<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <meta http-equiv='content-language' content='en-us' />
    <title></title>
    <script type='text/javascript' src='jquery-1.4.2.min.js'></script>
    <script type='text/javascript' src='jQueryUI.js'></script>
    <script type='text/javascript' src='onglets.js'></script>
    <link type='text/css' href='onglets.css' rel='stylesheet' />
  </head>
  <body>
    <div id="tmpTabExample">
      <ul>
        <li><a href="#onglet-1"><span>Premier onglet 1.0</span></a></li>
        <li><a href="#onglet-2"><span>Second onglet</span></a></li>
        <li><a href="#onglet-3"><span>Troisième onglet</span></a></li>
      </ul>
      <div id="onglet-1">
        <p>
          Premier onglet activé par défaut.
        </p>
      </div>
      <div id="onglet-2">
        <p>
          Texte de l'onglet 2. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse 
          id sapien. Suspendisse rutrum libero sit amet dui. Praesent pede elit, 
          tincidunt pellentesque, condimentum nec, mollis et, lacus. Donec nulla 
          ligula, tempor vel, eleifend ut, luctus nec, est. Duis imperdiet sapien 
          condimentum est. Curabitur euismod. Vestibulum magna. 
        </p>
      </div>
      <div id="onglet-3">
        <p>
          Texte de l'onglet 3. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse 
          id sapien. Suspendisse rutrum libero sit amet dui. Praesent pede elit, 
          tincidunt pellentesque, condimentum nec, mollis et, lacus. Donec nulla 
          ligula, tempor vel, eleifend ut, luctus nec, est. Duis imperdiet sapien 
          condimentum est. Curabitur euismod. Vestibulum magna. Vivamus massa 
          erat, tristique at, congue in, fringilla sed, massa. Duis posuere justo 
          ac magna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          Donec ac dolor mollis lectus posuere convallis.
        </p>
      </div>
    </div>
  </body>
</html>

